
# Ignore virtual environments
/venv

# Data files
/data/raw/*
/data/processed/*

# Ignore Python cache files
__pycache__/

# ChromaDB vector store
chroma_db/

# Environment files
.env

# testing
testing.py